body {
    font-family: 'Roboto', sans-serif;
}

.row {
    margin-top: -1px; 
    padding-top: 10px;
}


.clas {
   font-size: 0.8em;
   margin-left: -1px; 
}

/* boutons classes */
.termi {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-right: 5px;
    margin-left: 5px;
   
}

  .termi {
    background: 
       linear-gradient(#fff, #fff) padding-box, /*fill background*/
       linear-gradient(to right ,#00D6D7, #00F846) border-box; /*fill border*/
      border: 1px solid transparent;
      color: #00D6D7;
      border-radius:6px;
  }

  .matcard {
    border-radius: 20px;
    box-shadow:  5px 5px 35px #dedede, 
                -5px -5px 35px #ffffff;
  }

  .pcard {
   font-weight: bold;
  }

  .cardActBt {
    border: 1px solid #009688;
   }

.cardActBtf {
    border: 1px solid #009688;
    background: #ffffff;
    box-shadow:  21px 21px 100px #999999, 
                 -21px -21px 100px #ffffff;
                 
   }

  

   footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
   }